nav{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    top:0;
    left:0;
    width:100%;
    height:80px;
    align-items: center;
    background: coral;
    color:white;
    padding:0 12vw;
    .nav-items{
        display: flex;

        .nav-item{
            padding: 6px 12px;
            text-decoration: none;
            color:white;
            transition: .3s;

            &:hover{
                filter: brightness(.7);
            }
        }
        .nav-item.active{
            background: white;
            color:coral;
        }
    }
}

section{
    height:100vh;
    display: flex;
}

section.hero{
    .text-area, .image-area{
        width:50%;
        height:100%;
        display: flex;
    }

    .text-area{
        padding-left:12vw;
        padding-right:6vw;
        flex-direction: column;
        justify-content: center;
        .title{
            font-size:58px;
        }
        .sub-title{
            font-size: 36px;
        }

        button{
            border:none;
            background: coral;
            color:white;
            padding:8px 16px;
        }
    }

    .image-area{
        img{
            height:100%;
            width:100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

section.about{
    height:unset;
    padding:5vh 8vw;
    background:coral;
    color:white;
    .text-area, .image-area{
        width:50%;
        height:100%;
        display: flex;
    }

    .text-area{
        padding-left:12vw;
        padding-right:6vw;
        flex-direction: column;
        justify-content: center;
        .title{
            font-size:36px;
        }
        
        .sub-title{
            font-size: 24px;
        }

        button{
            background: coral;
            color:white;
            border:none;
            padding:8px 16px;
        }
    }

    .image-area{
        align-items: center;
        justify-content: center;
        img{
            border-radius: 16px;
            width:80%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: center;
        }
    }
}

section.services{
    height:unset;
    background:rgb(33, 33, 33);
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 12vw;
    .text-area{
        width:80%;
        text-align: center;
        .title{
            font-size:36px;
        }
        
        .sub-title{
            font-size: 24px;
        }
    }

    .services-area{
        display: flex;
        justify-content: space-between;
        margin-top:24px;
        .service-card{
            width:30%;
            .service-img{
                width: 100%;
                img{
                    width: 100%;
                    max-height: 400px;
                    aspect-ratio: 3 / 5;
                }
            }
            .service-title{
                font-size:24px;
                font-weight: bold;
            }
        }
    }
}


footer{
    background:black;
    color:white;
    padding: 16px; 
    text-align: center;
}


.dialog{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    .backdrop{
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background: rgba(0,0,0,0.4);
        backdrop-filter: blur(3px);
    }

    .dialog-content{
        position: relative;
        z-index: 1;
        background:white;
        padding:16px;
        border-radius: 8px;
    }
}


.sidenav-section{
    .sidenav{
        width:250px;
        padding:16px;
        border-right: 1px solid rgba(0,0,0,0.12);
        .side-nav-items{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            .side-nav-highlight{
                background: coral;
                width:100%;
                height:50px;
                border-radius: 8px;
                transition: .3s;
                position: absolute;
                top:0;
                left:0;
            }
            .side-nav-item{
                position: relative;
                text-align: center;
                height:50px;
                display: flex;
                align-items: center;
                justify-content: center;
                width:100%;
                &.active{
                    font-weight: bold;
                    color:white;
                }
            }
        }
    }

    .content{
        padding:16px;
    }
}

.text-white{
    color:white;
}


.todo-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:16px;
}
.todo-item{
    margin-bottom:16px;
    width: 25%;
    min-width: 200px;
    flex-grow: grow;
    display: flex;
    flex-direction: column;
    img{
        border-radius: 8px;
        width: 100%;
        aspect-ratio: 4 / 3;
    }

}