body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.movie-content{
  height:100%;
  max-width: calc(100vw - 250px);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin:16px auto;

}

.movie-card{
  width: 23.5%;
  margin-right: 2%;

  
  img{
    width: 100%;
    aspect-ratio: 3 / 4;
  }
  
  &:nth-child(4n){
    margin-right:0;
  }

}


.auth-section{
  height:100vh;
  width:100%; 
  display: flex;

  .image-area, .content-area{
    height:100%;
    width:50%;
    display: flex;
    img{
      height:100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .content-area{
    align-items: center;
    justify-content: center;
    padding:0 5vw;
  }
}

.login-screen{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  form{
    width: 100%;

    button{
      background:coral;
      color:white;
      border:none;
      border-radius: 4px;
      width: 100%;
      padding:8px 0;
      margin-top:24px;
    }
  }
}

.form-group{
  input{
    padding:8px 12px;
    border-radius: 4px;
    border:1px solid rgba(0,0,0,0.2);
    margin-bottom: 8px;
    width: 100%;
  }
}

